<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FacultyFlo</title>
  <link rel="stylesheet" href="static/styles.css">
  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>
</head>
<body>  
  <nav>
    <div class="logo">
      <img src="static/Images/Faculty Flowlogo.png" alt="Logo">
      <span>FacultyFlo</span>
    </div>
    <ul class="nav-links">
      <li><a href="meetourteam.html" class="nav-lin">Meet our Team</a></li>
      <li><a href="#feature" class="nav-lin">Features</a></li>
      <li><a href="#pricing" class="nav-lin">Pricing</a></li>
      <li><a href="#" class="nav-lin">Support</a>  
          <ul class="dropdown">
            <li>Contact No: +919820904940</li>
            <li>Email: facultyflo.care@gmail.com</li>
          </ul>
      </li>
      <li><a href="reachus.html"><button class="nav-btn"><span>Reach Us</span></button></a></li>
    </ul>
  </nav>


  <section class="hero">
    <div class="hero-content">
      <div class="hero-tag">7 days free Trial - No Credit Card required</div>
      <h1>Streamline Your <br><span style="color:#6dace7">Faculty Life</span></h1>
      <p>From managing your schedule to streamlining communication, <br><span style="color:#f68716">FacultyFlo</span> simplifies the academic experience for both you and your students.</p>
      <a href='choice.html'>
        <button class="hero-btn">
          <span class="hero-overlay"></span>
          <span class="hero-text-wrapper">
            <span class="hero-text" style="font-weight: 700;"> Get Started! </span>
            <span class="hero-text hero-cloned-text" aria-hidden="true"> Get Started! </span>
          </span>
        </button>
      </a>
    </div>
  </section>

  <section class="dashboard_demo animated">
    <img src="static/Images/landing_demo.png" class="dashboard-image">
  </section>

  <section id="feature" class="feature animated">
    <div class="feature-content">
      <div class="features-tag">Features</div>
      <h1>Efficiency Unveiled, <br><span style="color:#f68716">Your Workload Curtailed</span></h1>
      <p>Join a community of educators who are taking control of <br>their time and making teaching a joy again</p>
      </div>
  </section>

  <section class="feature-card-section animated">    
    <div class="feature-container">
      <div class="feature-row">
        <div class="feature-card">
          <img src="static/Images/landing_feat_app.png" alt="Image 1">
          <h2>App Hub</h2>
          <p>Simplify your routine. Find, manage, and utilize all your teaching apps from a central hub.</p>
        </div>
        <div class="feature-card">
          <img src="static/Images/landing_feat_chatbot.png" alt="Image 2">
          <h2>Chatbot</h2>
          <p>Your AI assistant provides instant answers and support, freeing you to focus on what matters most - your students.</p>
        </div>
        <div class="feature-card">
          <img src="static/Images/landing_feat_com.png" alt="Image 3">
          <h2 style="font-size: 2.3rem;">Colleague Connect</h2>
          <p>Enchance collaboration! Connect with colleagues, share resources, and learn from each other's expertise.</p>
        </div>
      </div>
      <div class="feature-row">
        <div class="feature-card">
          <img src="static/Images/landing_feat_course.png" alt="Image 4">
          <h2>Course Planner</h2>
          <p>Simplify curriculum creation. Organize lessons, materials, and assessments - all in one central location.</p>
        </div>
        <div class="feature-card">
          <img src="static/Images/landing_feat_cal.png" alt="Image 5">
          <h2>Smart Scheduling</h2>
          <p>Smart calendar keeps you organized. Automate tasks, schedule meetings, and get reminders - stay on top of your workload.</p>
        </div>
        <div class="feature-card">
          <img src="static/Images/landing_feat_todo.png" alt="Image 6">
          <h2>Conquer Task</h2>
          <p>To-do list keeps you focused. Manage deadlines, prioritize tasks, and tick things off with ease.</p>
        </div>
      </div>
    </div>
  </section>


  <section id="pricing" class="feature animated" style="padding: 3rem 2rem;">
    <div class="feature-content">
      <div class="features-tag">Pricing</div>
      <h1>Plans & <span style="color:#2196F3">Features</span></h1>
      </div>
  </section>

  <section class="pricing animated">
    <div class="pricing-table">
      <div class="pricing-card">
        <div class="pricing-header">
          <h2>Starter</h2>
          <h3><span class="dollar">$</span>29</h3>
        </div>
        <div class="pricing-features">
          <ul>
            <li>✓ Data Visualization</li>
            <li>✓ Real-Time Analytics</li>
            <li>✓ Customization</li>
          </ul>
        </div>
        <div class="pricing-description">
          <p>Small businesses and start-ups looking to gain data insights.</p>
        </div>
        <div class="pricing-button">
          <a href="#" class="btn" style="background-color: #f68716;">Learn More</a>
        </div>
      </div>
    
      <div class="pricing-card">
        <div class="pricing-header">
          <h2>Advanced</h2>
          <h3><span class="dollar">$</span>79</h3>
        </div>
        <div class="pricing-features">
          <ul>
            <li>✓ All Basic Plan Features</li>
            <li>✓ Integrations</li>
            <li>✓ Advanced Reporting</li>
          </ul>
        </div>
        <div class="pricing-description">
          <p>Instutions that need efficient data management and teamwork features.</p>
        </div>
        <div class="pricing-button">
          <a href="#" class="btn" style="background-color: #22C55E;">Learn More</a>
        </div>
      </div>
    
      <div class="pricing-card">
        <div class="pricing-header">
          <h2>Enterprise</h2>
          <h3><span class="dollar">$</span>149</h3>
        </div>
        <div class="pricing-features">
          <ul>
            <li>✓ All Pro Plan Features</li>
            <li>✓ Full Access to API</li>
            <li>✓ Dedicated Support</li>
          </ul>
        </div>
        <div class="pricing-description">
          <p>Larger enterprises requiring advanced data solutions and personalized support.</p>
        </div>
        <div class="pricing-button">
          <a href="#" class="btn" style="background-color: #6dace7;">Learn More</a>
        </div>
      </div>
    </div>
  </section>


  <footer>
    <div class="footer-container">
      
    <div class="logo">
      <img src="static/Images/Faculty Flowlogo.png" alt="Logo">
      <span style="color:white;">FacultyFlo</span>
    </div>
    <div class="footer-links">
        <ul>
          <li><a href="#">© Tech Labs, 2024</a></li>
          </ul>
      </div>
    </div>
  </footer>

  <script>

    document.addEventListener('DOMContentLoaded', function() {
          const animatedElements = document.querySelectorAll('.animated');
    
          function checkScroll() {
            animatedElements.forEach(element => {
              const elementTop = element.getBoundingClientRect().top;
              const windowHeight = window.innerHeight;
    
              if (elementTop < windowHeight * 0.75) {
                element.classList.add('visible');
              } else {
                element.classList.remove('visible');
              }
            });
          }
    
          // Initial check
          checkScroll();
    
          // Check on scroll
          window.addEventListener('scroll', checkScroll);
        });
    
    
      </script>

</body>
</html>
