{% extends 'sidebar_faculty.html' %}

{% block body %} 
  <link rel="stylesheet" href="static/navbar1.css">
  <link rel="stylesheet" href="static/navbar.css">
  

      <div class="icon-container" style= "text-decoration : none;">
          <h3>Microsoft Apps</h3>
          <a href=https://docs.google.com/spreadsheets/d/1QuwqxaT5etlnjqg2Y0EHqPVV0yjQ07e0EWMAwAdrIN4/edit?usp=sharing class="app-card excel" style= "text-decoration : none;">
            <img src="static/Images/excel_icon.png" alt="Excel">
            <span>Excel</span>
          </a>
          <a href="https://docs.google.com/document/d/1rHs8bPLsmggny8OLX7r3rnAjjDo_BksjRyHrhPIG4k4/edit?usp=sharing" class="app-card word" style= "text-decoration : none;">
            <img src="static/Images/word_icon.png" alt="Word">
            <span>Word</span>
          </a>
          <a href="https://docs.google.com/presentation/d/1vNN26Ny4XvmI5fDZjHVd2TGkRANC92QYkUOp_-d2KMw/edit?usp=sharing" class="app-card powerpoint" style= "text-decoration : none;">
            <img src="static/Images/powerpoint_icon.png" alt="PowerPoint">
            <span>PowerPoint</span>
          </a>
          <a href="https://events.teams.microsoft.com/login" class="app-card teams" style= "text-decoration : none;">
            <img src="static/Images/teams_icon.png" alt="Teams">
            <span>Teams</span>
          </a>
          <a href="#" class="app-card onenote" style= "text-decoration : none;">
            <img src="static/Images/note_icon.png" alt="Teams">
            <span>OneNote</span>
          </a>  
          <a href="#" class="app-card sharepoint" style= "text-decoration : none;">
            <img src="static/Images/share_point_icon.png" alt="Teams">
            <span>SharePoint</span>
          </a>
      </div>


      <div class="icon-container">
        <h3>Google Inc Apps</h3>
        <a href="#" class="app-card excel" style= "text-decoration : none;">
          <img src="static/Images/mail_icon.png" alt="Excel">
          <span>Mail</span>
        </a>
        <a href="#" class="app-card word" style= "text-decoration : none;">
          <img src="static/Images/meet_icon.png" alt="Word">
          <span>Meet</span>
        </a>
        <a href="#" class="app-card onenote" style= "text-decoration : none;">
          <img src="static/Images/calendar_icon.png" alt="Teams">
          <span>Calendar</span>
        </a>  
        <a href="#" class="app-card sharepoint" style= "text-decoration : none;">
          <img src="static/Images/files_icon.png" alt="Teams">
          <span>Files</span>
        </a>
        <a href="#" class="app-card powerpoint" style= "text-decoration : none;">
          <img src="static/Images/translate_icon.png" alt="PowerPoint">
          <span>Translate</span>
        </a>
        <a href="#" class="app-card teams" style= "text-decoration : none;">
          <img src="static/Images/lens_icon.png" alt="Teams">
          <span>Lens</span>
        </a>
    </div>

    <div class="icon-container">
      <h3>Useful Websites</h3>
      <a href="https://gemini.google.com/app" class="app-card excel" style= "text-decoration : none;">
        <img src="static/Images/gemini_icon.png" alt="Excel">
        <span>Gemini</span>
      </a>
      <a href="https://chat.openai.com/" class="app-card teams" style= "text-decoration : none;">
        <img src="static/Images/chatgpt_icon.png" alt="Teams">
        <span>ChatGPT</span>
      </a>
      <a href="https://figma.com/" class="app-card word" style= "text-decoration : none;">
        <img src="static/Images/figma_icon.png" alt="Word">
        <span>Figma</span>
      </a>
      <a href="https://in.pinterest.com/" class="app-card onenote" style= "text-decoration : none;">
        <img src="static/Images/pinterest_icon.png" alt="Teams">
        <span>Pinterest</span>
      </a>  
      <a href="https://www.mural.co/" class="app-card sharepoint" style= "text-decoration : none;">
        <img src="static/Images/mural_icon.png" alt="Teams">
        <span>Mural</span>
      </a>
      </div>

      {% endblock %}